:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #c5c5c5 !important;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  background-color: #c5c5c5 !important;
  min-height: 100vh;
}